/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*reseta o css do tema*/
.main-menu.menu .sub-menu > li:hover > a.link, .main-menu.menu .sub-menu li.current-menu-item:hover > a.link, .main-menu.menu .sub-menu > li:hover > a.link, .main-menu.menu .sub-menu > li > a.link, .main-menu.menu .sub-menu li.current-menu-item:hover > a.link:hover  {
    background-color: transparent !important;
}
::selection {
    color:#fff !important;
    background:#f7629b !important ;
}

.vc_general.vc_btn3:hover {
    color:#fff !important;
    text-decoration: underline !important;
}


body.parent-pageid-667 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-667 .widget.widget_nav_menu ul.menu li>a:hover{
    color: #f7629b !important;
}

body.parent-pageid-667 *::selection, body.page-id-667 *::selection {
    color:#fff !important;
    background:#f7629b !important ;
}

body .main-menu.menu .sub-menu>li.sub-menu-item.pink:hover>a {
    color:#f7629b !important;
}


body.parent-pageid-1126 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-1126 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-1126 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-1126 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-1126 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.page-id-1126 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.parent-pageid-1126 h5, body.parent-pageid-1126 h2, body.parent-pageid-1126 h3,
body.page-id-1126 h5, body.page-id-1126 h2, body.page-id-1126 h3,
body.parent-pageid-1126 .wpb_text_column a, body.page-id-1126 .wpb_text_column a,
body.parent-pageid-1126 main a:hover, body.page-id-1126 main a:hover
{
    color: #ff8000 !important;
}

body.parent-pageid-1126 *::selection, body.page-id-1126 *::selection,
body.parent-pageid-1126 .section-heading.sh-t5 > .h-text:first-child:last-child:before,  
body.page-id-1126 .section-heading.sh-t5 > .h-text:first-child:last-child:before,
body.page-id-1126 .main-menu.menu > li.current-menu-item > a:before,
body.parent-pageid-1126 .main-menu.menu > li.current-menu-parent > a:before,
#menu-item-3281 a:before {
    color:#fff !important;
    background:#ff8000 !important ;
}

body .main-menu.menu .sub-menu>li.sub-menu-item.orange:hover>a {
    color:#ff8000 !important;
}

body.parent-pageid-1197 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-1197 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-1197 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-1197 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-1197 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.page-id-1197 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.parent-pageid-1197 h5,
body.parent-pageid-1197 .wpb_text_column a, body.page-id-1197 .wpb_text_column a,
body.parent-pageid-1197 main a:hover, body.page-id-1197 main a:hover
{
    color: #51c9e8 !important;
}

body.parent-pageid-1197 *::selection, body.page-id-1197 *::selection,
body.parent-pageid-1197 .section-heading.sh-t5 > .h-text:first-child:last-child:before,  
body.page-id-1197 .section-heading.sh-t5 > .h-text:first-child:last-child:before,
body.page-id-1197 .main-menu.menu > li.current-menu-item > a:before,
body.parent-pageid-1197 .main-menu.menu > li.current-menu-parent > a:before,
#menu-item-3282 a:before {
    color:#fff !important;
    background:#51c9e8 !important ;
}

body .main-menu.menu .sub-menu>li.sub-menu-item.blue:hover>a {
    color:#51c9e8 !important;
}


body.parent-pageid-74 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-74 .widget.widget_nav_menu ul.menu li>a:hover,
body.page-id-74 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-74 .widget.widget_nav_menu ul.menu li.current-menu-item>a,
body.parent-pageid-74 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.page-id-74 .bf-breadcrumb-item.bf-breadcrumb-end span,
body.parent-pageid-74 h5,
body.parent-pageid-74 .wpb_text_column a, body.page-id-74 .wpb_text_column a,
body.parent-pageid-74 .blue, body.page-id-74 .blue,
body.page-id-74 .h-text,
body.parent-pageid-74 .wpb_text_column a, body.page-id-74 .wpb_text_column a,
body.parent-pageid-74 main a:hover, main body.page-id-74 a:hover
{
    color: #7dce8c !important;
}

body.parent-pageid-74 *::selection, body.page-id-74 *::selection, 
body.page-id-74 .section-heading.sh-t5 > .h-text:first-child:last-child:before,
body.parent-pageid-74 .section-heading.sh-t5 > .h-text:first-child:last-child:before,
body.page-id-74 .main-menu.menu > li.current-menu-item > a:before,
body.parent-pageid-74 .main-menu.menu > li.current-menu-parent > a:before,
#menu-item-92 a:before
 {
    color:#fff !important;
    background:#7dce8c !important ;
}
body .main-menu.menu .sub-menu>li.sub-menu-item.green:hover>a {
    color:#7dce8c !important;
}

body .main-menu.menu .sub-menu>li.sub-menu-item.current-menu-item a {
    color:#434343 !important;
}